{% extends "layout.html" %}
{% block content %}
    <h1>Home page</h1>
    <div class="row">
    {% for album in albums %}
      <div class="col-sm-4 my-2">
        <div class="card">
          <div class="card-body d-flex">
            <img src="{{ url_for('static', filename='album_pics/' + album.img) }}" class="rounded-circle article-img" alt="">
            <div>
              <div class="article-metadata">
                <a href="#" class="article-title text-decoration-none">{{ album.author.name }}</a>
                <small class="text-muted">{{ album.date_posted.strftime('le %d/%m/%Y à %Hh%M') }}</small>
              </div>
              <h2><a class="article-title text-decoration-none" href="{{ url_for('album', album_id=album.id)}}">{{ album.title }}</a></h5>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}